# Modules Node.js
node_modules/

# Fichier d'environnement
.env

# Journaux
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Répertoires de build
dist/
build/

# Fichiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db 